@import url('https://fonts.googleapis.com/css?family=Montserrat:light,medium,extrabold&effect=3d');

* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
	font: inherit;
    vertical-align: baseline;
    height: 100%; 
    width: 100%;
    /* border: 1px red solid; */
    box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
    background-color: purple;
    line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
    
    width: 100%; 
    height: 100%;
}
